@font-face {
  font-family: "cga";
  src: url("../fonts/cga.woff");
}

@font-face {
  font-family: "ega";
  src: url("../fonts/ega.woff");
}

@font-face {
  font-family: "vga";
  src: url("../fonts/vga.woff");
}

* {
  box-sizing: border-box;
}

body {
  background: #aaa;
  font-family: ega, Arial, sans-serif;
  font-size: 1.6rem;
}

nav {
  background: rgba(0, 0, 0, 0.75);
  color: #eef;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  padding: 0.8rem;
}

nav a,
.portfolio a {
  color: #f3f34e;
  text-decoration: none;
}

nav a:hover,
nav a:focus,
nav a.active:hover,
nav a.active:focus,
.portfolio a:hover,
.portfolio a:focus {
  text-decoration: underline dashed;
}

nav a.active {
  text-decoration: underline;
}

.container {
  align-items: center;
  background-attachment: local;
  background-position: top right;
  background-size: cover;
  background-image: url("../images/beach00.png");
  box-shadow: 0 0 5px #333;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1000px;
  min-height: 100vh;
}

.home,
.portfolio {
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.8);
  max-width: 800px;
  overflow: auto;
}

.portfolio {
  max-height: 100vh;
}

.portfolio h1 {
  font-size: 2rem;
}

.portfolio h2 {
  color: #4ef3f3;
  font-size: 1.8rem;
}

.portfolio h3 {
  color: #c40000;
}

.portfolio .about,
.portfolio .contact,
.portfolio .projects {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.portfolio .about .headshot {
  background-image: url("../images/sean.png");
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #333;
  box-shadow: 5px 5px 0 #333;
  height: 80vw;
  max-height: 344px;
  max-width: 344px;
}

.portfolio .project {
  background-color: #c4c4c4;
  border: 1px solid #333;
  color: #001;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0.8rem;
  text-shadow: none;
}

.portfolio .project img.link-icon {
  height: 32px;
}

.portfolio .project .project-links,
.portfolio .project .project-title {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

.portfolio .project .screenshot {
  aspect-ratio: 1 / 1;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #333;
  box-shadow: 5px 5px 0 #444;
  height: 80vw;
  max-height: 344px;
  max-width: 344px;
}

.quote,
.info {
  background: rgba(16, 16, 16, 0.7);
  color: #eef;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.8rem;
  text-shadow: 2px 2px 0 #333;
}

.quote .author {
  font-size: 1.5rem;
  font-style: italic;
  margin-left: 2rem;
}
