/* Font by VileR: https://int10h.org/oldschool-pc-fonts/ */
@font-face {
  font-family: "cga";
  src: url("../fonts/Web437_IBM_CGA.woff");
}

@media (hover: hover) {
  a:hover {
    color: #5ff;
  }
}


* {
  box-sizing: border-box;
}

a {
  color: #eee;
  text-decoration: none;
}

body {
  background-color: #999;
  color: #eee;
  height: 100vh;
  width: 100vw;
}

.author {
  font-size: 1rem;
  margin-left: 5%;
}

.crt {
  background: url("../images/crt.png");
  height: 100vh;
  opacity: 0.1;
  position: absolute;
  width: 100vw;
}

.image {
  background: url("../images/beach00.png");
  background-attachment: local;
  background-position: top right;
  background-size: cover;
  box-shadow: 0 0 5px #222;
  height: 100%;
  margin: 0 auto 20px auto;
  max-width: 1200px;
  width: 100%;
}

.text {
  background: url("../images/dither.png");
  bottom: 40%;
  box-shadow: 5px 5px 0 #444;
  font-family: "cga";
  font-size: 1.2rem;
  height: max-content;
  left: 0;
  line-height: 1.2;
  margin: auto;
  max-width: 650px;
  padding: 24px;
  position: absolute;
  right: 0;
  text-shadow: 1px 1px 1px #000;
  top: 0;
  width: 90%;
}
